* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-image: linear-gradient(to right, #87959a, #2c6fa8);
    font-size: 2.5rem;
    position: sticky;
    top: 0;
    width: 100%;
}

ul {
    list-style: none;
    overflow: hidden;
}

.logo img {
    float: left;
    color: rgb(25, 70, 129);
    margin-right: 100px;
    text-decoration: none;
    margin-left: 90px;
    margin-bottom: 6px;
}

li a.fa {
    float: right;
    color: black;
    text-decoration: none;
    margin-right: 90px;
    margin-top: 10px;
}

li a.webbshop {
    margin: auto;
    display: block;
    color: rgb(27, 14, 88);
    text-decoration: none;
    border: double rgb(0, 0, 0);
    margin-top: 30px;
    margin-bottom: 30px;
    width: 40%;
    text-align: center;
}


/*li a:hover, li a.active {
    background-color: rgb(157, 213, 111);
    color: #333;
} */

.topnav {
    background-color: #87959a;
    overflow: hidden;
    margin: 0.7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98.5%;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #2c6fa8;
    width: 5%;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #879598;
    background-size: cover;
    text-align: center;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav.desktop_menu {
    font-size: 1.4rem;
}

nav.desktop_menu ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    overflow: hidden;
}

nav.desktop_menu li a {
    text-decoration: none;
    display: block;
    color: rgb(0, 0, 0);
    padding: 10px;
}

.footer {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2c6fa8;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.footer a {
    color: black;
    text-decoration: none;
}

.validera {
    display: flex;
    flex-direction: column;
}

.validera,
li {
    list-style: none;
    padding: 2px;
}

.externa ul {
    display: flex;
    padding-top: 20px;
}

nav.desktop_menu ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    overflow: hidden;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
}

@media screen and (max-width: 575.98px) {
    .topnav a,
    .topnav-right {
        float: none;
        display: block;
    }
    @media screen and (max-width: 575.98px) {
        li a.webbshop {
            margin-left: 5%;
        }
    }
    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}

@media screen and (max-width: 575.98px) {
    .logo img {
        display: none;
    }
}

@media screen and (max-width: 575.98px) {
    li a.fa {}
}

@media screen and (max-width: 575.98px) {
    nav {
        width: 100%;
    }
}

.logo img {
    width: 13%;
    float: left;
    margin-left: 6%;
}

.hoger {
    padding-top: 20px;
    margin-right: 20px;
}
