body {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

#slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.slide-wrapper {
    width: 2912px;
    -webkit-animation: slide 18s ease infinite;
}

.slide {
    float: left;
    height: 510px;
    width: 728px;
}

.slide:nth-child(1) {
    background-image: url(../images/Herr/Herr_kavaj.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.slide:nth-child(2) {
    background: url(../images/Barn/Barn_jeansjacka.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.slide:nth-child(3) {
    background-image: url(../images/Dam/Dam_skjorta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.slide:nth-child(4) {
    background-image: url(../images/Dam/Dam_blus.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.slide-number {
    color: #000;
    text-align: center;
    font-size: 10em;
}

@-webkit-keyframes slide {
    20% {
        margin-left: 0px;
    }
    30% {
        margin-left: -728px;
    }
    50% {
        margin-left: -728px;
    }
    60% {
        margin-left: -1456px;
    }
    70% {
        margin-left: -1456px;
    }
    80% {
        margin-left: -2184px;
    }
    90% {
        margin-left: -2184px;
    }
}

section.card-box {
    width: 40%;
    margin: 2px auto 0;
    background: rgba(206, 202, 202, 0.6);
    /* border: 1px solid  rgba(206, 202, 202, 0.6);  tas bort ?*/
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
}

.card-box h1 {
    /*saknas rubrik...*/
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: black;
    padding: 20px 0;
    justify-content: center;
    width: 100%;
}

.card-box h2 {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: black;
}

.card-box>.card1 {
    width: 33.333%;
    min-width: 120px;
    margin-bottom: 50px;
    padding: 10px;
    order: 2;
    padding-bottom: 2px;
    flex-flow: row wrap;
}

.card-box a {
    text-decoration: none;
    color: #333;
}

.card-box img {
    display: block;
    max-width: 100%;
}

.footer a {
    font-size: 1rem;
}

.button {
    background-color: rgb(213, 226, 241);
    border-radius: 50px;
    height: 30px;
    width: 40px;
    padding: 3px;
}

nav {
    background-image: linear-gradient(to right, #87959a, #2c6fa8);
    font-size: 2.5rem;
    position: sticky;
    top: 0;
}

ul {
    list-style: none;
    overflow: hidden;
}

li a.fa {
    float: right;
    color: black;
    text-decoration: none;
    margin-right: 90px;
    margin-top: 10px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card-box h1 {
        font-size: 1.5rem;
    }
    .card-box h2 {
        font-size: 1rem;
    }
    p.info {
        font-size: 0.8rem;
    }
    .card1 p {
        font-size: 0.8rem;
    }
    a {
        font-size: 0.8rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .card-box h1 {
        font-size: 1.3rem;
    }
    .card-box h2 {
        font-size: 0.9rem;
    }
    p.info {
        font-size: 0.7rem;
    }
    .card1 p {
        font-size: 0.7rem;
    }
    a {
        font-size: 0.7rem;
    }
    .card-box>.card1 {
        width: 50%;
        margin-bottom: 10px;
    }
}

@media (max-width: 575.98px) {
    .card-box h1 {
        font-size: 1.3rem;
    }
    .card-box h2 {
        font-size: 0.9rem;
        margin: 0.7rem 0;
    }
    p.info {
        font-size: 0.7rem;
    }
    .card1 p {
        font-size: 0.7rem;
    }
    .card-box>.card1 {
        width: 100%;
        margin-bottom: 10px;
    }
}
