section.card-box {
    width: 40%; 
    margin: 20px auto;
    background: #cecaca;
    overflow: hidden;
    flex-flow: row wrap;
    display: flex; 
    }
        
        
/*     .card-box h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color:black;
    padding: 20px 0;
    width: 100%;
    } */
        
    .card-box h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #000;
    }
            
    p.info {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    margin: 0.3rem 0; 
    }
            
  
            
    .card-box > .card1 { 
    width: 100%;
    min-width: 180px;
    margin-bottom: 3px; 
    padding: 2px; 
    padding-bottom: 10px;
    flex-flow: row wrap;
        
    }
    .card-box a {
    text-decoration: none;
    color: #fff;
    }
        
    .card-box img {
    display: block;
    max-width: 100%;
    }
            
    @media (min-width: 768px) and (max-width: 991.98px) { 
    .card-box h1 {
    font-size: 1.7rem;
    }
    
    .card-box h2{
    font-size: 1.2rem;
    
    }
    p.info {
    font-size: 1.1rem;
    }
    .card1 p{
    font-size: 0.9rem;
    }
    }
        
    @media (min-width: 576px) and (max-width: 767.98px) { 
    .card-box h1 {
    font-size: 1.5rem;
    }
    
    .card-box h2{
    font-size: 1rem;
    }
    p.info {
    font-size: 0.8rem;
    }
    .card1 p{
    font-size: 0.8rem;
    }
    
    .card-box > .card1 {
    width: 50%;
    margin-bottom: 10px; 
    }
    }
        
    
    @media (max-width: 575.98px) {
    .card-box h1 {
    font-size: 1.5rem;
    }
    
    .card-box h2{
    font-size: 1rem;
    margin: 0.7rem 0;
    }
    
    p.info {
    font-size: 0.8rem;
    }
    .card1 p{
    font-size: 0.8rem;
    }
    
    .card-box > .card1 {
    width: 100%;
    margin-bottom: 10px;
    }
    }


.button{
background-color: rgb(213, 226, 241);
border-radius: 30px;
height: 30px;
width: 100px;
padding:4px;
margin: 10px;
}
