body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 16px;
  }

.gallery-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-container{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;

}

.card img{
    width:20vw;
    margin:5px;
}

br{margin:5px}

.button{
    border:solid 1px var(--main-bg-color);
    background-color: var(--main-text-color);
    border-radius: 30px;
    text-decoration: none;
    height: 30px;
    width: 100px;
    padding:4px 20px 4px 20px;
    margin: 10px;
    transition: background-color 0.2s ease-out;
    cursor:pointer;
}

.button:hover{ 
  background-color: var(--main-bg-color);
  color: var(--main-text-color); }

/* ---------------- Martin  --------------------------------------*/
nav {
   background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: 2.5rem;
    position: sticky;
    top: 0;
}
ul {
    list-style: none;
    overflow: hidden;
}
.header li a.fa {
    float: right;
    color: var(--main-bg-color);
    text-decoration: none;
    margin-right: 90px;
    margin-top: 10px;
}
/* ------------------------------------------------------*/
/* ---------------- jax  --------------------------------------*/
.SlideShow{
    display:flex;
    justify-content: center;
}
.SlideShow img{
    /*To change the size of the slider, change these values*/
    width: 35vw;
    height: 35vw;
}
.buttons{
    display:flex;
    justify-content: space-between;
    align-items: center;    
    margin-bottom:3%;   /*minska dem från 10% till 3% annars täcker footern min text*/
}
.buttons button{
    padding:10px;  /*minska dem från 25px till 10px */
}
/*-------------------------------------------------------------*/



        
@media (max-width: 600px) { 
    .card-container{
        display:flex;
        flex-flow:column wrap;
        justify-content: center;
    
    }

    .card{
        margin-bottom:10px;
    }

    .card img{
        width:100vw;
    }

    .card h1 {
    font-size: 1.3rem;
}
    
    .card h2{
    font-size: 0.9rem;
}
    p.info {
    font-size: 0.7rem;
}
    .card1 p{
    font-size: 0.7rem;
}

  a{
    font-size: 0.7rem;   
   }

}

      
