
.gallery-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.card-container{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;

}

.card img{
    width:20vw;
    margin:5px;
}

br{margin:5px}

p.info{      
font-size: 1.2rem;      
}

@media (max-width: 600px) { 
    .card-container{
        display:flex;
        flex-flow:column wrap;
        justify-content: center;
    }

    .card{
        margin-bottom:10px;
    }

    .card img{
        width:100vw;
    }

    .card h1 {
    font-size: 1.3rem;
}
    
    .card h2 {
    font-size: 1rem;
}
    
    .card1 p{
    font-size: 0.7rem;
}

  a{
    font-size: 0.7rem;   
   }

    
    
}
